body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: block
}

#c {
	position: absolute;
	left: 0;
	top: 0;
	/*
	blur looks "real",
	I want this to look "more virtual"
	*/
	image-rendering: pixelated;
	/*
	disable 2-tap zoom
	only on the interactive element
	*/
	touch-action: manipulation
}